header {
    display: flex; /*para ocupar a linha toda*/
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

header a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px; /*Tamanhando da Fonte*/
    font-family: "Fira Code"; /*escolhendo a fonte*/
    font-weight: 500; /*estilo da fonte*/
    text-decoration: none; /*decoração da fonte*/
    margin-right: 30px;
}

header a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block; /*permite mudar a largura*/
    background-color: #F25A70;
    height: 60px;
    line-height: 60px; /*tecnica para alinhar o texto verticalmente*/
    padding-right: 20px;
    padding-left: 20px; /*distancia do elemento interno para o externo*/
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);
}

.title {
    width: 627px;
    height: 184px;
    box-shadow: 10px 10px 0px #000;
    background-color: #3A4042;
    margin-top: 116px;
    margin-left: 91px;
    text-align: center;
}

.title h1 {
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000;
    font-family: "Press Start 2P";
    font-weight: 400;
    padding-top: 42px;
}

.title h2 {
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 0px #000;
    font-family: "Press Start 2P";
    padding-top: 28px;
}

.Download {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
    margin: 38px 112px 0px 181px;
    text-decoration: none;
    font-family: "Fira Code";
    color: white;
    font-size: 20px;
}

.contacts {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
    text-decoration: none;
    font-family: "Fira Code";
    color: white;
    font-size: 20px;
}