.main-header {
    display: flex; /*para ocupar a linha toda*/
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}


/*De 0 - 980*/
@media (max-width: 980px) {
    .main-header > .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: black;
        align-items: flex-start;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        gap: 10px;
        padding: 16px;
        box-sizing: border-box;
    }

    .main-header .icon-close {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .main-header .main-action {
        display: flex;
    }
}

/*De 980 até onde der*/
@media (min-width: 980px) {
    .main-header > .icon-menu {
        display: none;
    }
}