.progress-bar::-webkit-progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-value {
    background-color: #7C5E99;
}