.projects-tec {
    display: flex;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
    background-color: #7C5E99;
    justify-content: center;
    align-items: center;
}

.projects-tec2 {
    display: flex;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
    background-color: #4C5B84;
    justify-content: center;
    align-items: center;
}

.projects-tec3 {
    display: flex;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
    background-color: #7C5E99;
    justify-content: center;
    align-items: center;
}